{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!--背景图：无须修改,加载后台上传的图片--}}
{{> header background=@site.cover_image}} 
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
			     {{!--头像：默认头像是矩形，此处采用文章作者头像的样式，并将大小转换为xl--}}
                {{#if @site.logo}}
				     <img class="author-profile-image" src="{{img_url @site.logo size="xl"}}" alt="{{@site.title}}" />
                {{else}}
                    {{@site.title}}
                {{/if}}
            </h1>
			    {{!--签名--}}
            <h2 style="font-family:'楷体'"class="site-description">{{@site.description}}</h2>
        </div>
        {{> "site-nav"}}
    </div>
</header>

{{!-- 文章列表 --}}
<main id="site-main" style="background-image:url(../../assets/images/aaa.gif)" class="site-main outer">
    <div class="inner">

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- 文件路径partials/post-card.hbs--}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>
